html, body{
    margin: 0;
    padding: 0;
    width: 100%; 
    scroll-behavior: smooth;
  
}
body{
    font-style: 'poppins', sans-serif;
}/*
#home{
    width: 100%;
    height: 100vh;
    color: white;  
    background: url('img/intro1.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;
}*/
    /*shorthand = background: center center cover no-repeat fixed;*/
.parallax-image{    
    height: 100vh;
    color: whitesmoke;
    margin: 0;
    /*parallax effect*/
    background: url('img/intro3.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    
    /*
    display: flex;
    justify-content: center;
    align-items: center;*/
    /*
    display: table;
    vertical-align: middle;    */    
}
.intro{    
    color: ivory;    
    text-align: center;
    /*border-radius: 15px;*/
    /*box-shadow: -5px -5px 8px 2px rgb(255, 255, 255), 4px 4px 10px 2px rgb(86, 196, 196);    */
}
.intro img{
    border-radius: 25px;   
}
.intro a{
    padding: 20px;
    color: yellow;
    margin-top: 15px;
}

.transparentLook ul{
    background-color: white;
}

.ityped-cursor {    
    opacity: 0;   
}
li .nav-link{    
    color: yellowgreen;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav ul li a:hover{    
    color: orange;    
}

#skills, #projects{
    padding-top: 40px;
    padding-bottom: 0;
    height: 100vh ;
    color: yellowgreen;
   /* background: url('img/back5.jpg');    
    background-attachment: fixed;*/
}
#skills card{
    padding: auto;
}/*
#projects{
    background: url(/img/back2.jpg);
    background-attachment: fixed;
}*/
.skillSet{
    height: 80px;
    width: 80px;
}
.card{
    background-color:white;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px
}
/*project card*/
.proj-image{
    height: 250px;  
    overflow: hidden;
    /*background-color: rgb(80, 191, 235);*/    
}
.proj-image img{
    height: 100%;
    width: 100%;
}

 
 /*
header{    
    width: 100%;
    height: 100vh;
    position: fixed;
    background: url(img/back3.jpg) no-repeat 50% 50%;
    /*background-size: cover;*/
    /*background-attachment: fixed;    
}*/
/*
nav{
    width: 100%
}
nav ul{
    list-style: none;
    background: rgba(0,0,0,0);;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul{
    background: #000;;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
*/

/*
.nav-link {
    font-size: 1.1em !important;  
    font-weight: bolder;
  }

#home, #skills, #projects{
    min-height: 100vh;
    width: 100%;    
}
#skills{
    background: url('img/back2.jpg');
    background-position: center;
    background-attachment: fixed;
}*/
/*
.intro-outer{
   /* background: url("img/back2.jpg");*/
   /* background-size: cover;
    display: table;
    vertical-align: middle;
    margin: 30px;
}
.intro-inner{
    color: ivory;  
    overflow-wrap: break-word;
    border-radius: 15px;
    box-shadow: -5px -5px 8px 2px rgb(255, 255, 255), 4px 4px 10px 2px rgb(86, 196, 196);    
    margin: 10%;
  }
.intro-inner img{   
    border-radius: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.intro-inner h1{
    text-shadow: 1px 1px 15px #000;
}*/



  /*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
clearfix:after,
clearfix:before {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }